/* Coolors Exported Palette - coolors.co/c1f4ce-f9f6ea-ffcfce-647e9e-c19bc9 */

/* HSL */
$color1: hsla(135%, 70%, 86%, 1);
$color2: hsla(48%, 56%, 95%, 1);
$color3: hsla(1%, 100%, 90%, 1);
$color4: hsla(213%, 23%, 51%, 1);
$color5: hsla(290%, 30%, 70%, 1);

/* RGB */
$color1: rgba(193, 244, 206, 1);
$color2: rgba(249, 246, 234, 1);
$color3: rgba(255, 207, 206, 1);
$color4: rgba(100, 126, 158, 1);
$color5: rgba(193, 155, 201, 1);
