body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', arial, sans-serif;
  padding-bottom: 56px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(43, 107, 1), rgb(4, 172, 26));
  background-attachment: fixed;
  color: black;
  letter-spacing: 0.03em;
}

/*
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a r
  display: inline-block;
  margin: 1em;
}
form div {
  margin: 1em;
  display: inline-block;
} */

#home {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: space-between;
}

#home-img {
  align-items: center;
}

#nav-pair {
  justify-content: space-between;
  width: 50%;
}
#nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 60%;
  align-items: center;
}

#cart {
  margin-left: 0px;
  min-width: 150px;
  max-width: 155px;
  height: 100%;
  background-color: rgb(55, 107, 6);
  border-right: 5px ridge rgb(131, 7, 233);
  text-align: center;
  position: fixed;
}

#everything {
  margin-left: 155px;
}

/* #cart section {
  width: 20%;
  height: 100%;
  float: left;
} */

.single-flower {
  display: flex;
  align-content: stretch;
}

.quantity-box {
  flex-direction: row;
  align-content: stretch;
  align-items: right;
}
