html * {
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  flex-direction: column; */
  font-family: 'Open Sans', arial, sans-serif;
  margin: 0;
  background: linear-gradient(
    40deg,
    rgba(193, 244, 206, 1),
    rgba(249, 246, 234, 1)
  );
  color: black;
  letter-spacing: 0.03em;
}

/*
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a r
  display: inline-block;
  margin: 1em;
}
form div {
  margin: 1em;
  display: inline-block;
} */

#home {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: space-between;
}

#home-img {
  align-items: center;
}

#nav-pair {
  justify-content: space-between;
  width: 50%;
}
#nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 60%;
  align-items: center;
}

#cart {
  width: 16%;
  height: 100%;
  background: linear-gradient(
    10deg,
    rgba(249, 246, 234, 1),
    rgba(255, 207, 206, 1)
  );
  text-align: center;
  position: fixed;
  border-radius: 0px 15px 15px 0px;
  border-radius: 8px;
  border-style: outset;
  box-shadow: 2px 8px #660a4f;
}

#everything {
  margin-left: 17%;
}

/* #cart section {
  width: 20%;
  height: 100%;
  float: left;
} */

.single-flower {
  display: flex;
  align-content: stretch;
}

.quantity-box {
  flex-direction: row;
  align-content: stretch;
  align-items: right;
}

/* Error Page Styling */
#errPg {
  background-color: #f7f7f7;
  background-image: url('./errorPage.png');
  background-repeat: no-repeat;
}

#backImg {
  max-width: 5%;
  height: auto;
  /* align: center; */
  position: bottom;
}

#title {
  /* border-radius: 10px;
  border-style: outset;
  box-shadow: 7px 3px rgb(101, 35, 114); */
  text-align: center;
}

#title-text {
  display: inline-block;
  border-radius: 10px;
  border-style: outset;
  box-shadow: 2px 2px rgb(101, 35, 114);
  /* text-align: center; */
  padding: 1px;
}
