@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

html * {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}

body {
  margin: 0;
  background: linear-gradient(
    40deg,
    rgba(193, 244, 206, 1),
    rgba(249, 246, 234, 1)
  );
  color: black;
  letter-spacing: 0.03em;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-img {
  display: inline-block;
  border-radius: 10px;
  border-style: ridge;
  padding: 0px;
}

/* Navbar */
#nav-bar {
  font-size: 25px;
  padding-top: 1em;
  text-align: center;
  width: 100%;
  align-items: center;
}

.nav-pair {
  display: inline-block;
}

.nav-pair > a {
  border-radius: 15px;
  border-style: outset;
  margin: 1em;
  background: linear-gradient(
    10deg,
    rgba(193, 155, 201, 1),
    rgba(255, 207, 206, 1)
  );
}

#nav-hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

#cart {
  width: 16%;
  height: 100%;
  background: linear-gradient(
    10deg,
    rgba(249, 246, 234, 1),
    rgba(255, 207, 206, 1)
  );
  text-align: center;
  position: fixed;
  border-radius: 0px 15px 15px 0px;
  border-radius: 8px;
  border-style: outset;
  box-shadow: 2px 8px #660a4f;
}

#everything {
  margin-left: 17%;
}

.single-flower {
  display: flex;
  align-content: stretch;
}

.quantity-box {
  flex-direction: row;
  align-content: stretch;
  align-items: right;
}

/* Error Page Styling */
#errPg {
  background-color: #f7f7f7;
  background-image: url('./errorPage.png');
  background-repeat: no-repeat;
}

#backImg {
  max-width: 5%;
  height: auto;
  position: bottom;
}

/* title styling */
#title {
  text-align: center;
}

#title-text {
  display: inline-block;
  font-size: 3.5rem;
  border-radius: 10px;
  border-style: outset;
  box-shadow: 2px 2px rgb(101, 35, 114);
  padding: 1px;
  background: linear-gradient(
    10deg,
    rgba(193, 155, 201, 1),
    rgba(255, 207, 206, 1)
  );
  margin-bottom: 15px;
}

/* flower page styling */
.flower-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flower-image {
  height: 25em;
  width: 20em;
  border-radius: 10px;
  border-style: ridge;
  padding: 0px;
}

/* single flower page styling */
.single-flower {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.single-flower > img {
  margin-top: 20px;
  height: 35em;
  width: 30em;
  border-radius: 10px;
  border-style: ridge;
  padding: 0px;
}

.single-flower > p {
  font-size: 20px;
}

#error-page > img {
  background-image: url(./errorPage.jpg);
  width: 400;
  height: 400;
  display: 'block';
  margin: 'auto';
  position: 'relative';
}
